/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Thème clair */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #ddd;
}

/* Layout */
header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    flex-wrap: wrap;
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Ajouté pour espacer les éléments */
}

header nav ul li {
    margin-right: 20px;
    flex: 1 1 auto;
}

header nav ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: 700;
}

header nav ul li a:hover {
    color: #0056b3;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 10px; /* Espace entre les éléments */
    margin-left: auto; /* S'assurer que le conteneur est aligné à droite */
}

.member-access-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.member-access-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.account-request-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.account-request-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#theme-toggle {
    cursor: pointer;
    font-size: 24px;
    color: #333; /* Couleur sombre en mode clair */
    margin-left: auto;
    position: relative; /* Modifié pour éviter le chevauchement */
    transition: color 0.3s ease; /* Transition pour le changement de couleur */
}

body.dark-mode #theme-toggle {
    color: #fff; /* Couleur claire en mode sombre */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #ddd;
}

/* Sections */
section {
    padding: 40px 20px;
    text-align: center;
}

#annuaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Composants */
.membre {
    width: 300px;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.membre img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Style pour le champ de recherche */
#search, #login-form input[type="text"], #login-form input[type="password"], #contact-form input, #contact-form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    clear: both;
}

/* Style pour le champ de recherche de l'index */
#search {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Transition pour les membres */
.membre.hidden {
    transform: scale(0.95);
    opacity: 0;
}

/* Container pour les membres */
.membre-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* Style pour le titre de la section annuaire */
.section-title {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

/* Thème sombre */
body.dark-mode {
    color: #f9f9f9;
    background-color: #333;
}

header.dark-mode, footer.dark-mode {
    background-color: #222;
    color: #f9f9f9;
}

nav.dark-mode a {
    color: #f9f9f9;
}

nav.dark-mode a:hover {
    color: #ddd;
}

/* Assurer que le texte passe au blanc en mode sombre */
body.dark-mode, body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode p, body.dark-mode a {
    color: #f9f9f9;
}

/* Styles spécifiques pour les tuiles en mode sombre */
body.dark-mode .membre {
    background-color: #444;
    border-color: #555;
    color: #f9f9f9;
}

body.dark-mode .membre h3, body.dark-mode .membre p {
    color: #f9f9f9;
}

/* Styles spécifiques pour les liens email */
.membre a {
    color: inherit;
}

.membre a:hover {
    color: #ddd;
}

/* Styles pour le footer */
footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li.left {
    text-align: left;
}

footer ul li.right {
    text-align: right;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #fff;
}

/* Styles pour la scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 3px solid #333;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

/* Style pour le formulaire de connexion */
#login-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #555;
}

/* Thème sombre pour le formulaire de connexion */
body.dark-mode #login-form {
    background-color: #444;
    border-color: #555;
}

body.dark-mode #login-form label,
body.dark-mode #login-form input,
body.dark-mode #login-form button {
    color: #f9f9f9;
    border-color: #555;
}

body.dark-mode #login-form input {
    background-color: #555;
}

body.dark-mode #login-form button {
    background-color: #666;
}

body.dark-mode #login-form button:hover {
    background-color: #777;
}

/* Style pour le formulaire de contact */
#contact-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #555;
}

/* Thème sombre pour le formulaire de contact */
body.dark-mode #contact-form {
    background-color: #444;
    border-color: #555;
}

body.dark-mode #contact-form label,
body.dark-mode #contact-form input,
body.dark-mode #contact-form textarea,
body.dark-mode #contact-form button {
    color: #f9f9f9;
    border-color: #555;
}

body.dark-mode #contact-form input,
body.dark-mode #contact-form textarea {
    background-color: #555;
}

body.dark-mode #contact-form button {
    background-color: #666;
}

body.dark-mode #contact-form button:hover {
    background-color: #777;
}

/* Style pour la case de consentement */
.consent-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.consent-container input {
    margin-right: 10px;
}

.consent-text {
    margin-top: -10px;
    font-size: 14px;
    color: #666;
}

body.dark-mode .consent-text {
    color: #ccc;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-left, .header-right, .header-actions {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .header-actions {
        justify-content: space-between; /* S'assurer que les éléments sont espacés */
        margin-top: 10px;
    }

    .member-access-button {
        width: auto;
        text-align: center;
    }

    #theme-toggle {
        font-size: 24px;
        position: static;
        margin-left: 0;
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    .membre {
        width: 100%;
        margin: 10px 0;
    }

    section {
        padding: 20px 10px;
    }

    #search, #login-form input[type="text"], #login-form input[type="password"], #contact-form input, #contact-form textarea {
        max-width: 100%;
    }

    #login-form, #contact-form {
        max-width: 100%;
    }

    .faq-container {
        flex-direction: column;
    }

    .faq-item {
        padding: 15px;
    }
}

#login {
    text-align: center;
    padding: 40px 20px;
}

#faq {
    padding: 40px 20px;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.faq-questions {
    flex: 1;
    min-width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-questions h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #007BFF;
}

.faq-questions ul {
    list-style-type: none;
    padding: 0;
}

.faq-questions ul li {
    margin-bottom: 10px;
}

.faq-questions ul li a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

.faq-questions ul li a:hover {
    color: #0056b3;
}

.faq-answers {
    flex: 2;
    min-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #007BFF;
}

.faq-item p {
    margin-bottom: 10px;
    font-size: 16px;
}

.faq-item ul {
    list-style-type: disc;
    padding-left: 20px;
    list-style-type: none; /* Supprimer les bullet points */
    padding-left: 0;
}

/* Thème sombre pour la page Accès Membre */
body.dark-mode #faq {
    background-color: #444;
    border-color: #555;
}

body.dark-mode .faq-questions {
    background-color: #555;
}

body.dark-mode .faq-answers {
    background-color: #666;
}

body.dark-mode #faq h3,
body.dark-mode #faq p,
body.dark-mode #faq ul li {
    color: #f9f9f9;
    border-color: #555;
}

/* ...existing code... */

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #007BFF;
}

.faq-item p {
    margin-bottom: 10px;
    font-size: 16px;
}

/* Thème sombre pour la page Accès Membre */
body.dark-mode #faq {
    background-color: #444;
    border-color: #555;
}

body.dark-mode .faq-item {
    background-color: #666;
}

body.dark-mode #faq h3,
body.dark-mode #faq p {
    color: #f9f9f9;
    border-color: #555;
}

/* ...existing code... */